@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
}

h1 {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 16px;
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 142px;
}


/* IMG */

.image-container {
    margin: 12px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}


/* Responsive */

@media screen and (max-width: 700px) {
    h1 {
        font-size: 22px;
    }
    .image-container {
        margin: 12px;
    }
}